/*========== 
    Button
==========*/
@utility button {
    @apply w-full;

    @apply px-6;
    @apply lg:px-7;
    @apply py-5;

    @apply rounded-sm;

    @apply font-heading;
    @apply font-medium;

    @apply lg:text-lg;

    @apply tracking-wider;
    @apply uppercase;

    @apply leading-none;

    @apply cursor-pointer;

    @apply shadow-md;

    @apply focus:bg-dark;
    @apply hover:bg-dark;

    @apply focus:text-light;
    @apply hover:text-light;

    @apply disabled:bg-neutral;
    @apply disabled:cursor-not-allowed;
}

@utility button--primary {
    @apply button;

    @apply bg-primary;
    @apply text-light;
}

@utility button--light {
    @apply button;

    @apply bg-light;
    @apply text-primary;
}

/*========== 
    Effects
==========*/
@utility in-out-smooth {
    transition-property: all;
    transition-duration: 0.25s;
    transition-delay: 0s;

    @apply ease-cool;
}

/*========== 
    Layout
==========*/
@utility container {
    @apply max-w-7xl;

    @apply mx-auto;

    @apply py-8;
    @apply lg:py-9;
}

@utility gutter {
    @apply px-7;
    @apply lg:px-8;
}

/*========== 
    Links
==========*/
@utility link {
    @apply in-out-smooth;
}

@utility link--dark {
    @apply link;

    @apply hover:text-dark;
    @apply focus:text-dark;
}

@utility link--opacity {
    @apply hover:opacity-80;
    @apply focus:opacity-80;
}

@utility link--primary {
    @apply link;

    @apply hover:text-primary;
    @apply focus:text-primary;
}

/*========== 
    Typography
==========*/
@utility heading {
    @apply font-heading;

    @apply font-bold;
    @apply tracking-wide;

    @apply text-center;
}

@utility title {
    @apply heading;

    @apply text-4xl;
    @apply lg:text-6xl;

    @apply mb-7;
    @apply lg:mb-8;
}
